/* Poppins 字体 */
@font-face {
  font-family: 'Poppins';
  src: url('./poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// 其他字体
@font-face {
  font-family: 'Helvetica';
  src: url('HelveticaNeue.ttc');
}

@font-face {
  font-family: 'DIN Alternate';
  src: url('DIN\ Alternate\ Bold.ttf');
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('HelveticaNeue.ttc');
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Medium.ttf');
}
